<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<% if user_signed_in? %>
	<% if @user.id == current_user.id %>
		<%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-default" %>
	<% end %>
<% end %>
<p><%= @user.email %></p>

<hr>

<h3> About <%= @user.first_name %>: </h3>

<h4 align="justify"> <%= @user.about %> </h4>

<hr>


<h3><%= @user.first_name %>'s Ideas:</h3>
<div class="row">
	<% @user_ideas.each do |idea| %>
		<div class="col-md-3" align="center">
			<% if user_signed_in? %>
				<% if idea.user_id == current_user.id%>
					<% if idea.try(:outstanding?)%>
						<h2 align="center">★<%= link_to idea.title, idea_path(idea) %>★</h2>
					<% else %>
						<h3 align="center"> <%= link_to idea.title, idea_path(idea) %></h3>
					<% end %>
					<p> <b><%= idea.category.name%> | <%= 100*idea.funded/idea.goal_amount %>% funded</b></p>
					<a href="/ideas/<%= idea.id %>">
						<%= image_tag idea.idea_image.url(:idea_index)%>
					</a>
					<p>Created by you <%= time_ago_in_words(idea.created_at) %> ago.</p>
					<%= link_to "Edit", edit_idea_path(idea), class: "btn btn-default" %>
					<%= link_to "Delete", idea_path(idea), class: "btn btn-default", method: :delete, data: { confirm: "Are you sure?" } %>
				<% else %>
					<% if idea.try(:outstanding?)%>
						<h2 align="center">★<%= link_to idea.title, idea_path(idea) %>★</h2>
					<% else %>
						<h3 align="center"> <%= link_to idea.title, idea_path(idea) %></h3>
					<% end %>
					<p> <b><%= idea.category.name%> | <%= 100*idea.funded/idea.goal_amount %>% funded</b></p>
					<a href="/ideas/<%= idea.id %>"><%= image_tag idea.idea_image.url(:idea_index)%></a>
					<p>Created by <%= @user.first_name %> <%= time_ago_in_words(idea.created_at) %> ago.</p>
					<%= link_to favourite_idea_path(idea), class: favourite_idea(idea) do %>
						<span class= "glyphicon glyphicon-ok"></span>
						<span>Wishlist</span>
					<% end %>
				<% end %>	
			
			<% else %>
				<% if idea.try(:outstanding?)%>
					<h2 align="center">★<%= link_to idea.title, idea_path(idea) %>★</h2>
				<% else %>
					<h3 align="center"> <%= link_to idea.title, idea_path(idea) %></h3>
				<% end %>
				<p> <b><%= idea.category.name%> | <%= 100*idea.funded/idea.goal_amount %>% funded</b></p>
				<a href="/ideas/<%= idea.id %>"><%= image_tag idea.idea_image.url(:idea_index)%></a>
				<p>Created by <%= @user.first_name %> <%= time_ago_in_words(idea.created_at) %> ago.</p>
			<% end %>
		</div>
	<% end %>
</div>

<hr>

<h3><%= @user.first_name %>'s Wishlist:</h3>
<div class="row">
	<% @user.favourite_ideas.each do |k| %>
		<div class="col-md-3">
			<% Idea.all.each do |idea| %>
				<% if k.idea_id == idea.id%>

					<% if idea.try(:outstanding?)%>
						<h2 align="center">★<%= link_to idea.title, idea_path(idea) %>★</h2>
					<% else %>
						<h3 align="center"> <%= link_to idea.title, idea_path(idea) %></h3>
					<% end %>
					<div align="center">
					<p> <b><%= idea.category.name%> | <%= 100*idea.funded/idea.goal_amount %>% funded</b></p>
					<a href="/ideas/<%= idea.id %>"><%= image_tag idea.idea_image.url(:idea_index)%></a>
					<p align="center">Created by <%= link_to idea.user.email, user_path(idea.user.id) %> <%= time_ago_in_words(idea.created_at) %> ago.</p>	
					<% if user_signed_in? %>
						<%= link_to favourite_idea_path(idea), class: favourite_idea(idea) do %>
							<span class= "glyphicon glyphicon-ok"></span>
							<span>Wishlist</span>
						<% end %>
												
						<% if idea.user_id == current_user.id or current_user.try(:admin?)%>
							<%= link_to "Edit", edit_idea_path(idea), class: "btn btn-default" %>
							<%= link_to "Delete", idea_path(idea), class: "btn btn-default", method: :delete, data: { confirm: "Are you sure?" } %>
						<% end %>
					<% end %>
					
					
					</div>
				<% end %>
			<% end %>
		</div>
	<% end %>
</div>
