<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<p><%= @user.email %></p>
<% if user_signed_in? %>
	<% if @user.id == current_user.id %>
		<%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-default" %>
	<% end %>
<% end %>
<hr>

<h3> About <%= @user.first_name %>: </h3>

<h4> <%= @user.about %> </h4>

<hr>

<h3><%= @user.first_name %>'s Ideas:</h3>
<% @user_ideas.each do |idea| %>
	<div class="col-md-3">
		<% if user_signed_in? %>
			<% if idea.user_id == current_user.id%>
				<h4><%= link_to idea.title, idea_path(idea) %></h4>
				<a href="/ideas/<%= idea.id %>">
					<%= image_tag idea.idea_image.url(:idea_index)%>
				</a>
				<p>Created by you <%= time_ago_in_words(idea.created_at) %> ago.</p>
				<%= link_to "Edit", edit_idea_path(idea), class: "btn btn-default" %>
				<%= link_to "Delete", idea_path(idea), class: "btn btn-default", method: :delete, data: { confirm: "Are you sure?" } %>
			<% end %>
			
		<% else %>
				<h4><%= link_to idea.title, idea_path(idea) %></h4>
				<a href="/ideas/<%= idea.id %>">
					<%= image_tag idea.idea_image.url(:idea_index)%>
				</a>
				<p>Created by <%= @user.first_name %> <%= time_ago_in_words(idea.created_at) %> ago.</p>
		<% end %>
	</div>
<% end %>

