<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @idea.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea.description %>
</p>

<p>
  <strong>Estimated date:</strong>
  <%= @idea.estimated_date %>
</p>

<p>
  <strong>Goal amount:</strong>
  <%= @idea.goal_amount %>
</p>

<p>
  <strong>Category:</strong>
  <%= @idea.category %>
</p>

<p>
  <strong>User:</strong>
  <%= @idea.user_id %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
