<!DOCTYPE html>
<html>
  <head>
    <title>TurnItOn</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<nav class="navbar navbar-inverse navbar-fixed-top"> 
		<div class="container">
			<div class="navbar-header">
				<%=link_to "Turn It On!", root_path, class: "navbar-brand"%>
			</div> 
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="" class="dropdown" data-toggle="dropdown" role="button" aria-expanded="false">Categories <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<% Category.all.each do |category| %>
							<li>
								<%= link_to category.name, ideas_path(category: category.name), class: "Link" %>
							</li>
						<% end %>
					</ul>
				</li>
				<li><%= link_to "About Us", aboutus_path %> </li>
				<% if user_signed_in? %>
					<li><%= link_to "New Idea", new_idea_path %></li>
				<% end %>	
			</ul>	
			<ul class="nav navbar-nav navbar-right">
				<% if user_signed_in? %>
					<li><%= link_to current_user.email, profile_path %></li>
				<% end %>
				
				<% if user_signed_in? %>
					<li><%= link_to "Log Out", destroy_user_session_path, method: :delete, data: { confirm: "Do you want to log out?" } %></li>
					
				<% else %>
					<li><%= link_to "Log In", new_user_session_path %> </li>
					<li><%= link_to "Sing Up", new_user_registration_path %></li>
				<% end %>
					
			</ul>		
		</div>
	</nav>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
