<%= simple_form_for @idea, :html => { :multipart => true } do |f| %>
	<%= f.input :title, label: "Idea title" %>
	<%= f.input :description %>
	<h5><%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select category") %></h5>
	<h5><%= f.file_field :idea_image %></h5>
	<%= f.input :estimated_date %>
	<%= f.input :goal_amount %>
	<%= f.button :submit %>
<% end %>

