<h1>Edit Idea</h1>
<hr>

<%= simple_form_for @idea, :html => { :multipart => true } do |f| %>
	<%= f.select :category_id, @categories %>
	<%= f.file_field :idea_image %>
	<%= f.input :title, label: "Idea title" %>
	<%= f.input :description %>
	<%= f.input :estimated_date %>
	<%= f.input :goal_amount %>
	<%= f.button :submit %>
<% end %>
