<h1> Ideas </h1>
<% if params[:category] != nil %>
	<h4 class="current-category"> Category: <%= params[:category] %></h4>
<% end %>
<hr>

<% if @ideas.count == 0 %>
	<h2> Sorry, there are not ideas to show </h2>
<% else %>
	<div class="row">
		<% @ideas.each do |idea| %>
			<div class="col-md-3">
					<% if idea.try(:outstanding?)%>
						<h2 align="center">★<%= link_to idea.title, idea_path(idea) %>★</h2>
					<% else %>
						<h3 align="center"> <%= link_to idea.title, idea_path(idea) %></h3>
					<% end %>
					<div align="center">
					<% if 100*idea.funded/idea.goal_amount < 5 %>
						<div class="progress">
						  <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar"
						  aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: <%=100*idea.funded/idea.goal_amount %>%">
						  </div>
						  <p> <%= 100*idea.funded/idea.goal_amount %>% funded! </p>
						</div>
					<% end %>
					<% if 100*idea.funded/idea.goal_amount >= 5 and 100*idea.funded/idea.goal_amount < 50 %>
						<div class="progress">
						  <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar"
						  aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: <%=100*idea.funded/idea.goal_amount %>%">
						 	<p> <%= 100*idea.funded/idea.goal_amount %>% funded! </p>
						  </div>
						</div>
					<% end %>
					<% if 100*idea.funded/idea.goal_amount >= 50 and 100*idea.funded/idea.goal_amount < 100 %>
						<div class="progress">
						  <div class="progress-bar progress-bar-striped active" role="progressbar"
						  aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: <%=100*idea.funded/idea.goal_amount %>%">
						 	<p> <%= 100*idea.funded/idea.goal_amount %>% funded! </p>
						  </div>
						</div>
					<% end %>
					<% if 100*idea.funded/idea.goal_amount >= 100 %>
										<div class="progress">
						  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
						  aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
						 	<p> <%= 100*idea.funded/idea.goal_amount %>% funded! </p>
						  </div>
						</div>
					<% end %>
					<a href="/ideas/<%= idea.id %>"><%= image_tag idea.idea_image.url(:idea_index)%></a>
					<% if user_signed_in? %>
						<%= link_to favourite_idea_path(idea), class: favourite_idea(idea) do %>
							<span class= "glyphicon glyphicon-ok"></span>
							<span>Wishlist</span>
						<% end %>
												
						<% if idea.user_id == current_user.id or current_user.try(:admin?)%>
							<%= link_to "Edit", edit_idea_path(idea), class: "btn btn-default" %>
							<%= link_to "Delete", idea_path(idea), class: "btn btn-default", method: :delete, data: { confirm: "Are you sure?" } %>
						<% end %>
					<% end %>
					<p align="center">Created by <%= link_to idea.user.email, user_path(idea.user.id) %> <%= time_ago_in_words(idea.created_at) %> ago.</p>
					</div>
					
					
					
			</div>
		<% end %>
	</div>
<% end %>







