<h1> Ideas </h1>
<% if params[:category] != nil %>
	<h4 class="current-category"> Category: <%= params[:category] %></h4>
<% end %>
<hr>

<% if @ideas.count == 0 %>
	<h2> Sorry, there are no ideas to show </h2>
<% else %>
	<div class="row" align="center">
		<% @ideas.each do |idea| %>
			<div class="col-md-4" align="center">
					<% if idea.try(:outstanding?)%>
						<h2 align="center">★<%= link_to idea.title, idea_path(idea) %>★</h2>
					<% else %>
						<h3 align="center"> <%= link_to idea.title, idea_path(idea) %></h3>
					<% end %>
					<p> <b><%= idea.category.name%> | <%= 100*idea.funded/idea.goal_amount %>% funded</b></p>
					<div align="center">
					<a href="/ideas/<%= idea.id %>"><%= image_tag idea.idea_image.url(:idea_index)%></a>
					<p align="center">Created by <%= link_to idea.user.email, user_path(idea.user.id) %> <%= time_ago_in_words(idea.created_at) %> ago.</p>
					<% if user_signed_in? %>
						<%= link_to favourite_idea_path(idea), class: favourite_idea(idea) do %>
							<span class= "glyphicon glyphicon-ok"></span>
							<span>Wishlist</span>
						<% end %>
												
						<% if idea.user_id == current_user.id or current_user.try(:admin?)%>
							<%= link_to "Edit", edit_idea_path(idea) %>
							<%= link_to "Delete", idea_path(idea), method: :delete, data: { confirm: "Are you sure?" } %>
						<% end %>
					<% end %>
					
					</div>
					
					
					
			</div>
		<% end %>
	</div>
<% end %>







