<div class="container">
<h1><%= @idea.title %></h1>
<% if user_signed_in? %>
	<% if @idea.user_id == current_user.id or current_user.email == "admin@hotmail.com"%>
		<%= link_to "Edit", edit_idea_path(@idea), class: "btn btn-default" %>
		<%= link_to "Delete", idea_path(@idea), class: "btn btn-default", method: :delete, data: { confirm: "Are you sure?" } %>
	<% end %>
<% end %>
<p>Created by <%= @idea.user.email  %> <%= time_ago_in_words(@idea.created_at) %> ago.</p>
<h2><%= @idea.description %></h2>
<p>Estimated release date: <%= @idea.estimated_date %></p>
<p>Goal amount: $<%= @idea.goal_amount %></p>
<label for="cost1">How much do you want to fund?</label>
<input type="cost" class="form-control" id="cost1" aria-describedby="emailHelp" placeholder="Enter amount"><a class="btn btn-primary m-1"  role="button">Fund this project!</a>
<p>Category: <%= @idea.category %></p>

<h1> Promise </h1>
<%= image_tag('images.jpeg' , width: '150px')%>


<h3>Comments:</h3>
<%= render @idea.messages %>
<h3>_______________________________________________________________________________________</h3>
<%= render 'messages/form' %>

</div>
